@import url('https://fonts.googleapis.com/css?family=Chivo:300,400');

body {
	font-family: 'Chivo',sans-serif;
}

.container-fluid{
	background-color: white;
}

.navbar {
	box-shadow: none;
	border-style: none;
	font-family: 'Chivo',sans-serif;
	font-weight: 300;
	font-size: 3vw;
	text-shadow: none;
	color:black;
	margin-bottom:0px;
}

.nav>li{
	margin-top: 3vw;
	margin-left: 3vw;
	margin-bottom: 3vw;
	margin-right:none;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius:5px;
}

.navbar-header {
	max-width: 15vw;
	min-width: 125px;
}

.logo img {
width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
max-width: 100%;
margin:3vw;
padding-right: 3vw;
}

h1{
	text-align: center;
}

.aboutUsButton{
	background: #ff1d25;
}

.devButton{
	background: #29abe2;
}

.evalButton{
	background: #f4e600;
}

.content{
	top:20vh;
	padding:0px 4vw 4vw 4vw;
	font-family: 'Chivo',sans-serif;
}

.btn-default{
	background-color: #29abe2;
}

.splashImage{
	position: absolute;
	top:175px;
	margin-left:15vw;
	margin-right:15vw;
	margin-bottom: 100px;	
}

.splashSpacer{
	height:30vw;
}