.container-fluid{
	background-color: white;
}

.navbar {
	box-shadow: none;
	border-style: none;
}

.logo img {
width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
max-width: 100%;
padding-top: 15px;
}