html {
	font-family: 'Chivo',sans-serif;
}

.container-fluid{
	background-color: white;
}

.navbar {
	box-shadow: none;
	border-style: none;
	font-family: 'Chivo',sans-serif;
	font-weight: 300;
	font-size: 3vw;
}

.nav>li{
	margin: 20px;
}

