.aboutUsButton{
	background: #ff1d25;
	border-width: 0px;
}

.navbar {
	box-shadow: none;
	text-shadow: none;
	border-style: none;
	font-family: 'Chivo',sans-serif;
	font-weight: 300;
	font-size: 3vw;
}