{% extends "layout.html" %}
{% block title %}Launch a box{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav %}
 <ul class="nav navbar-nav">
           <li class = "aboutUsButton"><a href="{{url_for('about')}}" style = "color:black">learn more</a></li>
          <li class = "evalButton"><a href="{{url_for('launchBox')}}" style = "color:white">examine</a></li>
           <li class = "devButton"><a href="{{url_for('contribute')}}" style = "color:white">contribute</a></li>
{% endblock %}
{% block content %}
<h1>{{asset_type}}</h1>
<h3>{{asset_id}}</h3>
{% endblock %}
