{% extends "layout.html" %}
{% block title %}Launch a box{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/launchBox.css')}}">
  <style>
        .column {
            float: left;
        }

        .right{
            margin-left:50%;
        }

        .bank{
            border-radius: 15px;
            /*border: 6px solid #29abe2;*/
            border: 1px dashed black;
            padding: 10px;
            width: 100%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .centerBlock {
            display: table;
            margin: auto;
        }

        .rcorners1 {
            border-radius: 15px;
            background-color: transparent;
            padding: 20px;
        }
        .rcorners2 {
            border-radius: 15px;
            background-color: transparent;
           border: transparent;
            width: 100%;
        }
        .rcorners5 {
            border-radius: 15px;
            border: 1px dashed black;
            background-color: white;
            padding: 20px;
            float:left;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
            .#rcorners1 {
                width: 100%;
            }
            .#rcorners2 {
                width: 100%;
            }
            .#rcorners3 {
                width: 100%;
            }

        }

        #leftWrapper, #rightWrapper{
            padding:5px;
            border-radius: 15px;
            height:100%;
            width:100%;
            overflow-y:scroll;
        }

        #left{
            background-color:red;
            height:300px;
            width:200px;
            position:relative;
        }

        #mid{
            height: 300px;
            width: 400px;
            background-color: yellow;
            overflow:hidden;
            position: relative;
            margin-left:-25px;
        }

        #right{
            float:right;
            background-color: #00AEEF;
            height:300px;
            width:200px;
        }

        .circle{
            height:40%;
            width:40% ;
            border-radius:50%;
            background-color: transparent;
            display:inline-block;
            text-align:center;
            margin:auto;
            position: relative;
            z-index: 1;
            padding:15px;
        }

        .circle:hover{
            border-radius: 50%;
            //border: 1px solid red;
        }

        .circImg{
            margin:auto;   
        }

        #wrapper{
            position:absolute;
            overflow-y:scroll;
            overflow-x:scroll;
            padding:20px;
            height:100%;
            min-height:100%;
            min-width:100%;
        }

        .button{
            height:20px;
            width:100px;
            position:relative;
            margin-bottom: 10px;
            margin-left: 10px;
            z-index:1;
        }

        .popups{
            display:none;
            background-color: white;
            text-align: center;
            position:absolute;
            border:1px solid #000;
            width:100px;
            border-radius:20%;
            padding:5px;
            min-height: 50px;
            z-index:4;
            margin-left:50px;
        }

        #instructions{
            width:30%;
            font-weight: bold;
            font-size: 15px;
            margin-left:15%;
        }

        #turing{
            position:relative;
            width: 20em;
            height:20em;
            border: 10px double black;
            overflow: auto;
        }

        #turingChoices{
            height:100%;
            width:100%;
            padding:10px;
        }

        #lbbutton{
            display: inline-block;
            margin-left: 80%; 
        }

        #launchbox{
            border: 3px solid black;
            padding: 10px;
            border-radius: 30%; 
            font-size: 20px;
            display:inline-block;
            right:0px;
        }

        .tcircleBlue{
            position:absolute;
            border:3px solid black;
            height:25%;
            width:25% ;
            border-radius:50%;
            background-color:#00AEEF;
            padding:10%;
            margin-top:85%;
            margin-bottom:-60px;
            margin-left:225px;
            float:right;
        }

        .tcircleRed{
            position:absolute;
            border:3px solid black;
            height:25%;
            width:25% ;
            border-radius:50%;
            background-color:red;
            padding:10%;
            margin-bottom:100%;
            margin-top:-50px;
            margin-left:-50px;
            float:left;
        }

        ::-webkit-scrollbar{
            background-color:transparent;
        }

        #submit:active {
          box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891;
          @include transform(translate(3px, 3px));
        }

        p{
            font-size:15px;
            text-align:center;
            margin-top:-20px;
            font-weight: bold; 
            font-family:'Chivo',sans-serif;

        }

        h3, h2, h1 {
            text-align: center;
        }
    
        * {
            margin: 0;
            padding: 0;
            border: 0;
        }


</style>
  <script>
    $(document).ready(function(){
    $('.selectStim').on('drag',function(event){
      $('input[name="stim"]').val(event.target.id);
      $('input[name="task"]').val(event.target.task);
    })

    $('.selectAlg').on('drag',function(event){
      $('input[name="alg"]').val(event.target.id);
    })

    $('.selectMetric').on('drag',function(event){
      $('input[name=metric]').val(event.target.id);
    })

    $('input[name=submit]').on('drag',function(event){
      $('.loading').show();
    })

});
/*
    function initialize(){
        width = window.getComputedStyle(document.getElementById("wrapper")).getPropertyValue('width');
        width = parseInt(width.slice(0, 3))
        numAlgs = document.querySelectorAll(".circle");
        max = 100;
        var r = [];
        var currsum = 0;
        for(var i=0; i<numAlgs.length-1; i++) {
            r[i] = randombetween(1, max-(numAlgs.length-i-1)-currsum);
            currsum += r[i];
        }
        r[numAlgs.length-1] = max - currsum;  
        console.log(r)     
        console.log("works up to here")
        for (var j = 0; j < numAlgs.length; j++){
            r[j] = parseFloat("." + String(r[j]));
            console.log(r[j]);
           // numAlgs[j].style.width = r[j]*0.5+100 + "px";
            //numAlgs[j].style.height = r[j]*0.5 +50 + "px";
            numAlgs[j].style.width = width;
            numAlgs[j].style.height = width*60/100;
            numAlgs[j].style.transform = "scale(" + r[j] + ")";

        }
    }

    function randombetween(min, max){
        return Math.floor(Math.random()*(max-min+1)+min);
    }
*/
    //prevents the object from performing its default task in order to be able to be dragged and dropped 
    function allowDrop(ev) {
        ev.preventDefault();
    }

    //data transferred is the object's id 
    function drag(ev) {

        ev.dataTransfer.setData("text", ev.target.id);
    }

    //on drop, prevent the default function again, append the dragged object to the target and change its size (according to the turing box size)
    function drop(ev) {

        ev.preventDefault();
        var data = ev.dataTransfer.getData("text")
        
        ev.target.appendChild(document.getElementById(data));
        dropped = document.getElementById(data);
        //hardcoded change in size of dropped element 
        if (ev.target.id == "leftWrapper"){
            dropped.classList.add('rcorners2');
            console.log(dropped.classList)
        }else{
            dropped.style.display = "inline-block";
        dropped.style.height = "60px";
        dropped.style.width = "100px";
        dropped.style.border = "none";
        dropped.style.padding = "3px";
        }
        //chosenOnes(); <--was trying to resize it dynamically 
    }
    /*function chosenOnes(){
        var choice, i, div, width, numOfDivs;
        console.log(turingChoices);
        div = document.getElementById("turingChoices");
        width = window.getComputedStyle(div).getPropertyValue('width');
        width = parseInt(width.slice(0, 3))
        numOfDivs = Math.ceil(div.childNodes.length/2);
        for (choice = 0; choice < div.childNodes.length; choice++){
            div.childNodes[choice].style.display = "inline-block";
            div.childNodes[choice].style.padding = "20px"
            div.childNodes[choice].style.height = Math.floor(width/numOfDivs);
            div.childNodes[choice].style.width = div.childNodes[choice].style.width;
            console.log(Math.floor(width/numOfDivs))
        }
    }*/

    var zoomVal = 1.0;
    //for the zoom buttons, resize the wrapper when a button is clicked
    function zoom(num){
        element = document.getElementById("wrapper");
        switch(num){//case0 = zoom in | case1 = zoom out | case2 = reset zoom
            case 0: 
                zoomVal += 0.04;
                element.style.transform = "scale(" + zoomVal + ")";
                break;
            case 1: 
                zoomVal -= 0.04;
                element.style.transform = "scale(" + zoomVal + ")";
                break;
            case 2: 
                zoomVal = 1.0;
                element.style.transform = "scale(" + zoomVal + ")";
                break;
        }
    }

    //show or hide the popups next to the item that was hovered over by changing display between block and none
    function showDes(popup){
        document.getElementById(popup).style.display = "block";
    }
    function hideDes(popup){
        document.getElementById(popup).style.display = "none";
    }

  </script>
  <body>
{% endblock %}
{% block nav %}
 <ul class="nav navbar-nav">
          <li><a href="{{url_for('about')}}" style = "color:black" >learn more</a></li>
          <li class = "evalButton"><a href="{{url_for('launchBox')}}" style = "color:white">examine</a></li>
        <li><a href="{{url_for('contribute')}}" class = "inactive">contribute</a></li>      </ul>
{% endblock %}
{% block content %}
<!-- start of stilmuli, algorithms, metrics row-->
<div class = "row">
    <!--beginning of stimuli column-->
    <div class="col-md-4">
            <div class="column left">
                <h1>stimuli</h1>
                <div class="row">
                    <div class="centerBlock bank" id= "left"><!--encapsulates stimuli column-->
                        <div id = "leftWrapper" ondrop="drop(event)" ondragover="allowDrop(event)"><!--wrapper for ability to scroll-->
           <!--eahc stimuli, when generated, will be encapsulated in a div which will include a div, the image, and a description popup div-->
           {% for stimulus in stimuli %}
                        <div class="column" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)" draggable="true">

                        <div type="button" class="rcorners2 selectStim" id = "{{stimulus['asset_id']}}" task = "{{stimulus['task']}}" ondragstart="drag(event)"onmouseover="showDes('{{stimulus['name']}}Pop')" onmouseout="hideDes('{{stimulus['name']}}Pop')">
                        <img src = "{{ url_for('static',filename=stimulus['imgpath']) }}" id = "{{stimulus['asset_id']}}" class="rcorners1" width="150"> 
                        <div class = "popups" id = "{{stimulus['name']}}Pop" style = "display:none">{{stimulus['name']}}<br>
                            <a href = "{{url_for('context', asset_id = stimulus['asset_id'], asset_type = 'stimulus')}}">Link</a>
                        </div></div>
                        </div>
            {% endfor %}

                    </div>
                </div>
                </div>
               

            </div>

    </div>
    <!--end of stimuli column-->
    <!--beginning of algorithms column-->
    <div class="col-md-4">
        <div class="column mid">
        <h1>algorithms</h1>
            <div class = "row">
                <div class="centerBlock bank" id = "mid" ondrop="drop(event)" ondragover="allowDrop(event)" droppable = "true">
                        <div id = "wrapper"><br>
            <!--each algorithm, when generated, will be in a circle shaped span which will include a draggable div, and image, and description popup div-->
            {% for algorithm in algorithms %}
            <span class = "circle">
                <div draggable="true" ondragstart="drag(event)" class="rcorners4 selectAlg" id = "{{algorithm['asset_id']}}" droppable = "true" onmouseover="showDes('{{algorithm['asset_id']}}Pop')" onmouseout="hideDes('{{algorithm['asset_id']}}Pop')">
                     <img src = "{{ url_for('static',filename=algorithm['imgpath']) }}" draggable = "false" class = "circImg " id = "{{algorithm['asset_id']}}" /> 
                        <div class = "popups" id = "{{algorithm['asset_id']}}Pop" style = "display:none">{{algorithm['name']}}<br>
                            <a href = "{{url_for('context', asset_id = algorithm['asset_id'], asset_type = 'algorithm')}}">Link</a>
                        </div>
                </div>
            </span>     
            {% endfor %}

            </div>
            <!--the zoom buttons (dont work exactly as planned because it just rescales the entire wrapper, not actually zooms into the algorithm images-->
            <button id="zin" class = "button" onclick = "zoom(0)">zoom in</button>
            <button id="zout" class = "button" onclick = "zoom(1)">zoom out</button>
            <button id="zreset" class = "button" onclick = "zoom(2)">reset zoom</button> 
                </div>
            </div>
        </div>
    </div>
    <!--end of algoriths=ms column-->
    <!--beginning of metrics column-->
    <div class="col-md-4">
        <div class = "column right">
         <h1>metrics</h1>
          <div class ="row">
            <div class="centerBlock bank" id= "right">
                <div id = "rightWrapper" ondrop="drop(event)" ondragover="allowDrop(event)">

                <!--each metric, when generated, will be encapsulated in a div which will include a div, metric image, and description popup div-->
                {% for metric in metrics %}
                <div class="column" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)" draggable="true">
                    <div type = "button" class="selectMetric rcorners2" id = "{{metric['asset_id']}}" onmouseover="showDes('{{metric['name']}}Pop')" onmouseout="hideDes('{{metric['name']}}Pop')">
                        <img src = "{{ url_for('static',filename=metric['imgpath']) }}" id = "{{metric['asset_id']}}" class="rcorners1" width="150"/>
                         <div class = "popups" id = "{{metric['name']}}Pop" style = "display:none">{{metric['name']}}<br>
                           <a href = "{{url_for('context', asset_id = metric['asset_id'], asset_type = 'metric')}}">Link</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            </div>
          </div>
         
    </div>
</div><!--end of metrics div-->
</div><!--end of stimuli, algorithms, metrics row-->
<br><br>
<!--beginning of row of instructions, turing box, and launch box button-->
    <div class = "row">
        <div class="col-md-4">
            INSTRUCTIONS<br>
            1. drag one (or more) stimuli into the turing box<br>
            2. drag one (or more) algorithms into the box<br>
            3. drag one (or more) metrics into the box<br>
            4. press launch box to watch your results!
        </div>
    <div class="col-md-4">
        <div class="centerBlock bank" id = "turing" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="tcircleRed"></div>
                <div class="tcircleBlue"></div>
                <div id = "turingChoices"></div><!--dropped items will appear in this turingChoices div-->
        </div>
    </div>
    <div class="col-md-4">
        <form action="{{ url_for('launchTask', task = task) }}" method="post">
            <input type="Stim" name="stim" style = "display:none"/>
            <input type="Alg" name="alg" style = "display:none"/>
            <input type="Metric" name="metric" style = "display:none"/>
            <input type=submit value="Launch Box" id = "submit">
        </form>
    </div>
    </div>

<br>
  
<h1>Reports</h1>
<ul>
    <li><a href = "report/0"/>Dummy</li>
    <li><a href = "report/1"/>Compas</li>
    <li><a href = "report/2"/>Swim</li>
</ul>
</body>
{% endblock %}
