{% extends "layout.html" %}
{% block title %}Launch a box{% endblock %}
{% block head %}
  {{ super() }}
  <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
            }

            td {
                border: 1px black solid;
                padding: 5px;
            }
#scrolltable { margin: 20px; height: 200px; overflow: auto; }
#scrolltable th div { position: absolute; margin-top: -20px; }

        </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css')}}">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
    $('#report').on('click',function(){
	    $('#report').addClass("clicked")
	    $('#analyze').removeClass("clicked")
	});
	  $('#analyze').on('click',function(){
	    $('#analyze').addClass("clicked")
	    $('#report').removeClass("clicked")
	})
});

d3.text("http://0.0.0.0:5000/api/v2/{{box['path']}}", function(data) {
	$('#loading').hide();
    var parsedCSV = d3.csv.parseRows(data);
    console.log(parsedCSV)

    var container = d3.select("#scrolltable")
        .append("table")

        .selectAll("tr")
            .data(parsedCSV).enter()
            .append("tr")

        .selectAll("td")
            .data(function(d) { return d; }).enter()
            .append("td")
            .text(function(d) { return d; });
});
</script>
{% endblock %}
{% block nav %}
 <ul class="nav navbar-nav">
           <li><a href="{{url_for('about')}}" style = "color:black" >learn more</a></li>
          <li class = "evalButton"><a href="{{url_for('launchBox')}}" style = "color:white">examine</a></li>
        <li><a href="{{url_for('contribute')}}" class = "inactive">contribute</a></li>      </ul>
{% endblock %}
{% block content %}
   {% if box['success'] %}
   <div class = "row">
   	<div class="col-md-2">
   		
   	<img src="{{ url_for('static', filename='img/examiner2.png')}}" width = "80px"/>
   </div>
   <div class="col-md-1">
   		</div>
	<div class="col-md-6">
   		<h4> box #{{box['id']}}</h4>
		<h4> stimulus: 
			{% for stim in box['stim_data']%}
				<a href = "{{url_for('context', asset_id = stim['asset_id'], asset_type = 'stimulus')}}">{{stim['name']}}</a>
			{% endfor %}
		</h4>
   		<h4> algorithm: {% for stim in box['alg_data']%}
				<a href = "{{url_for('context', asset_id = stim['asset_id'], asset_type = 'algorithm')}}">{{stim['name']}}</a>
			{% endfor %}</h4>
   	</div>
   	<div class="col-md-3">   	visual representaiton of box</div>
   </div>
   	<div class = "row reportContent">
   		 <div class = "row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3 button"><div class = "clicked unclicked" id = "report">&nbsp;&nbsp;behavior report &nbsp;&nbsp;</div>
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3 button"><div class = "unclicked" id = "analyze">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;analyze &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
			</div>
			<div class="col-md-6">
			</div>
		</div>
		<div class = "row">
			<div class="col-md-12 stats">
						{%for metric in box['metrics']%}
							<h2>{{metric['name']}}= {{metric['output']}}</h2>
							<h4> for label <b>{{metric['label']}}</b> and referent <b>{{metric['referent']}} </b></h4>
							{% endfor %}
							<div id="scrolltable">
								<div id = "loading">loading table...</div>
			</div>
			<div class="col-md-0 images">
			</div>
		</div>	

   	</div>
   	
   </div>
   <div class = "row">share on twitter | download notebook | <a href= "http://0.0.0.0:5000/api/v2/{{box['path']}}">download raw data</a></div>
    {% else %}
    	<h1> try again </h1>
    {% endif %}
{% endblock %}

