{% extends "layout.html" %}
{% block title %}Launch a box{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css')}}">
<script>

$(document).ready(function(){
    $('#report').on('click',function(){
	    $('#report').addClass("clicked")
	    $('#analyze').removeClass("clicked")
	});
	  $('#analyze').on('click',function(){
	    $('#analyze').addClass("clicked")
	    $('#report').removeClass("clicked")
	})
});
</script>
{% endblock %}
{% block nav %}
 <ul class="nav navbar-nav">
           <li><a href="{{url_for('about')}}" style = "color:black" >learn more</a></li>
          <li class = "evalButton"><a href="{{url_for('launchBox')}}" style = "color:white">examine</a></li>
        <li><a href="{{url_for('contribute')}}" class = "inactive">contribute</a></li>      </ul>
{% endblock %}
{% block content %}
   {% if box['success'] %}
   <div class = "row">
	<div class="col-md-6">
   		<h2> box #{{box['id']}}</h3>
		<h2> stimulus: 
			{% for stim in box['stim_data']%}
				<a href = "{{url_for('context', asset_id = stim['asset_id'], asset_type = 'stimulus')}}">{{stim['name']}}</a>
			{% endfor %}
		</h2>
   		<h2> alg: {% for stim in box['alg_data']%}
				<a href = "{{url_for('context', asset_id = stim['asset_id'], asset_type = 'algorithm')}}">{{stim['name']}}</a>
			{% endfor %}</h2>
   	</div>
   	<div class="col-md-6">   	visual representaiton of box</div>
   </div>
   	<div class = "row reportContent">
   		 <div class = "row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3 button"><div class = "clicked unclicked" id = "report">&nbsp;&nbsp;behavior report &nbsp;&nbsp;</div>
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3 button"><div class = "unclicked" id = "analyze">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;analyze &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
			</div>
			<div class="col-md-6">
			</div>
		</div>
		<div class = "row">
			<div class="col-md-6 stats">
							<h1> alg: {{box['path']}}</h1>

			</div>
			<div class="col-md-6 images">
			</div>
		</div>	

   	</div>
   	<div class = "row">share on twitter | download notebook | download raw data</div>
    {% else %}
    	<h1> try again </h1>
    {% endif %}
{% endblock %}
