{% extends "layout.html" %}
{% block title %}Launch a box{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css')}}">

{% endblock %}
{% block nav %}
  <ul class="nav navbar-nav">
          <li><a href="{{url_for('about')}}" style = "color:black" >learn more</a></li>
          <li class = "evalButton"><a href="{{url_for('launchBox')}}" style = "color:white">examine</a></li>
        <li><a href="{{url_for('contribute')}}" style = "color:black" >contribute</a></li>     
         </ul>
{% endblock %}
{% block content %}
<div class = "taskSelector">
	<h1>turing box is divided into <i>tasks</i>, each with their own data representation, methods and community.</h1>
	<h2> select a task</h2>
		<div class = "task">
		<a id = "submitCV" href = "{{url_for('launchTask', task='swim')}}"><img src="{{ url_for('static', filename='img/smurfs/examiner2.png')}}" width = "200px"/><br>Computer Vision</a></div>
		<div class = "task">
		<a id = "submitCOMPAS" href = "{{url_for('launchTask', task='compas')}}"><img src="{{ url_for('static', filename='img/smurfs/examiner3.png')}}" width = "200px"/><br>Risk Assessment</a></div>
		<div class = "task">
		<a id = "submitNLP" href = "{{url_for('launchTask', task='NLP')}}"><img src="{{ url_for('static', filename='img/smurfs/examiner1.png')}}" width = "200px"/><br>NLP</a></div>
		<h2> or <a href = "mailto:turingbox@mit.edu">propose a new task</a></h2>
</div>
{% endblock %}
