<!DOCTYPE html>
<html>
<style>
.wrapper {
    overflow: hidden;
}

.sliding-background {
    height: 500px;
    width: 5076px;
    background-image: url("{{ url_for('static',filename='img/metric.jpg') }}") repeat-x;
    animation: slide 60s linear infinite;
}
@keyframes .slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}
</style>
<script type="text/javascript">
	
</script>
<body>

 <div class="wrapper"> 
  <div class="sliding-background"></div>
</div>


 
</body>
</html>