<!DOCTYPE HTML>  
<!-- Joyce Feng -->
<html>
	<head>  
		<title></title>
	<style>
        .cont{
    position:relative;
    overflow:hidden;
    height:200px;
    width:100%;
    border:1px solid red;
}
.s{
    overflow-y:scroll;
    height:200px;
    width:100%;
    position:absolute;
    right:-30px;
}

    </style>
		<script>
			
		</script> 
	</head>
	
	<body>
		<div class="cont">
<div class="s">
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
</div>
</div>
<div class="cont">
<div class="s">
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
</div>
</div><div class="cont">
<div class="s">
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
</div>
</div><div class="cont">
<div class="s">
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
</div>
</div><div class="cont">
<div class="s">
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
    <p>lorem ispum<br/></p>
</div>
</div>
	</body>